:root{
    --morado:#4A2B8C;
    --rosado:#BD54BF;
    --rosado_hover:#f868e0;
    --rosado_claro:#F2B3E8;
    --hover_listas:rgb(196, 118, 255);
    --hover_tabla:rgb(244, 230, 255);
    --thead:#8200FF;
}